<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.p2p.mapper.loan.BidInfoMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.p2p.model.loan.BidInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loan_id" jdbcType="INTEGER" property="loanId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="bid_money" jdbcType="DOUBLE" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
  </resultMap>

  <!--投资记录和用户的关系 一对一关系-->
  <resultMap id="BidInfoUserBaseResultMap" type="com.bjpowernode.p2p.model.vo.BidInfoExtUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loan_id" jdbcType="INTEGER" property="loanId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="bid_money" jdbcType="DOUBLE" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
    <association property="user" javaType="com.bjpowernode.p2p.model.user.User">
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="id_card" jdbcType="VARCHAR" property="idCard" />
      <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
      <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
      <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
    </association>
  </resultMap>


  <sql id="Base_Column_List">
    id, loan_id, uid, bid_money, bid_time, bid_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_bid_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_bid_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.p2p.model.loan.BidInfo">
    insert into b_bid_info (id, loan_id, uid, 
      bid_money, bid_time, bid_status
      )
    values (#{id,jdbcType=INTEGER}, #{loanId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{bidMoney,jdbcType=DOUBLE}, #{bidTime,jdbcType=TIMESTAMP}, #{bidStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.p2p.model.loan.BidInfo">
    insert into b_bid_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loanId != null">
        loan_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="bidMoney != null">
        bid_money,
      </if>
      <if test="bidTime != null">
        bid_time,
      </if>
      <if test="bidStatus != null">
        bid_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loanId != null">
        #{loanId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null">
        #{bidMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidTime != null">
        #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidStatus != null">
        #{bidStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.p2p.model.loan.BidInfo">
    update b_bid_info
    <set>
      <if test="loanId != null">
        loan_id = #{loanId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null">
        bid_money = #{bidMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidTime != null">
        bid_time = #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidStatus != null">
        bid_status = #{bidStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.p2p.model.loan.BidInfo">
    update b_bid_info
    set loan_id = #{loanId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      bid_money = #{bidMoney,jdbcType=DOUBLE},
      bid_time = #{bidTime,jdbcType=TIMESTAMP},
      bid_status = #{bidStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--获取用户总投资金额-->
  <select id="selectAllBidMoney" resultType="java.lang.Double">
    select sum(bid_money) from b_bid_info
  </select>

  <!--根据产品标识获取最近10笔投资记录（包含用户信息）-->
  <select id="selectRecentlyBidInfoByLoanId" resultMap="BidInfoUserBaseResultMap">
    select b.*,u.*
    from b_bid_info b
    left join u_user u
    on b.uid=u.id
    where b.loan_id=#{loanId}
    order by b.bid_time desc
    limit #{currentPage},#{pageSize}
  </select>

  <!--根据用户标识获取最近投资记录（包含产品名称）-->
  <select id="selectRecentlyBidInfoByUid" resultType="com.bjpowernode.p2p.model.vo.BidInfoLoanVO">
    select b.product_name as productName,
      a.bid_time as bidTime,
      a.bid_money as bidMoney
      from b_bid_info a
      left join b_loan_info b
      on a.loan_id=b.id
      where uid=#{uid}
      order by a.bid_time desc
      limit #{currentPage},#{pageSize}
  </select>

  <!--根据产品标识获取产品的所有投资记录-->
  <select id="selectBidInfoByLoanId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from b_bid_info
    where loan_id=#{loanId}
  </select>
</mapper>