<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>动力金融网-CFCA认证的互联网金融公司</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/trafficStatistics.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>

<body>
<div id="header">
    <!--<jsp:include page="commons/header.jsp"/>-->
    <div th:include="commons/header :: html"></div>
    <div th:include="commons/common :: html"></div>
</div>

<!--散标投资 begin-->
<div id="sbtz" class="invest-details">

    <!--页中begin-->
    <div class="mainBox pro-details-body">
        <div class="homeWap clearfix" id="huacengPar">
            <div class="pro-details-left">

                <!-- 产品详情start -->
                <div class="pro-info-details">
                    <div class="pro-name">
                        <h2><span th:text="|${loanInfo.productName} (${loanInfo.productNo}期)|">季度宝 (20170726期)</span>
                        </h2>
                    </div>
                    <div class="pro-info">
                        <ul class="clearfix">
                            <li class="info-1">
                                <p>历史年化利率</p>
                                <h3 th:text="|${loanInfo.rate}%|">4.91%</h3>
                                <div class="info-bt">
                                    <span>本产品采用普通利率</span>
                                </div>
                            </li>
                            <li class="info-2">
                                <p>募集金额(元)</p>
                                <h3 th:text="${loanInfo.productMoney}">500000.0</h3>
                                <div class="info-bt">
              	<span th:if="${loanInfo.leftProductMoney eq 0}">
              		满标
              	</span>
                                    <span th:if="${loanInfo.leftProductMoney ne 0}"
                                          th:text="|募集中,剩余募集金额 ${loanInfo.leftProductMoney}元|">
              	</span>
                                </div>
                            </li>
                            <li class="info-3">
                                <p>投资周期</p>
                                <span th:if="${loanInfo.productType == 0}">
                  <h3 th:text="|${loanInfo.cycle}天|">5天</h3>
              </span>
                                <span th:if="${loanInfo.productType != 0}">
                  <h3 th:text="|${loanInfo.cycle}个月|">6个月</h3>
              </span>
                                <div class="info-bt"><span></span></div>
                            </li>
                        </ul>
                    </div>
                    <dl class="pro-syfs">
                        <dt><span>收益获取方式</span></dt>
                        <dd><span>收益返还：</span>到期还本付息</dd>
                    </dl>
                </div>
                <!-- 产品详情end -->

                <!-- 投资记录start -->
                <div class="pro-details-cnt">
                    <ul class="tabNav clearfix">
                        <li><a id="one3" href="javascript:void(0);" class="s">投资记录</a></li>
                    </ul>

                    <div class="invest-record" id="con_one_3" style="display:block">
                        <div class="vertical-side">投资列表</div>
                        <dl class="record-list">
                            <dt>
                                <span class="record-num">序号</span>
                                <span class="invest-user">投资人</span>
                                <span class="invest-money">投资金额(元)</span>
                                <span class="invest-time">投资时间</span>
                            </dt>

                            <div th:if="${#lists.isEmpty(bidInfoExtUserList)}">
                                <dd style="text-align:center;">该产品暂时还没有人投资，赶快去投资吧~</dd>
                            </div>

                            <div th:if="${!#lists.isEmpty(bidInfoExtUserList)}" th:each="bidInfo:${bidInfoExtUserList}">
                                <dd>
                                    <span class="record-num" th:text="${bidInfoStat.count}">1</span>
                                    <span class="invest-user"
                                          th:text="|${#strings.substring(bidInfo.user.phone,0,3)}******${#strings.substring(bidInfo.user.phone,9,11)}|">137******00</span>
                                    <span class="invest-money" th:text="${bidInfo.bidMoney}">1000.0</span>
                                    <span class="invest-time"
                                          th:text="${#dates.format(bidInfo.bidTime,'yyyy-MM-dd HH:mm:ss')}">2017-09-12 13:34:22</span>
                                </dd>
                            </div>

                        </dl>
                    </div>
                </div>
                <!-- 投资记录end -->
            </div>

            <!--页面右侧begin-->
            <div class="pro-details-right">
                <div class="right-calculator" id="huaceng">
                    <div class="calculator-cnt">
                        <h2>立即投资</h2>
                        <dl class="profits-mode">
                            <dt>收益获取方式</dt>
                            <dd class="clearfix"><span id="fanhuan"><em>到期还本付息</em></span></dd>
                        </dl>
                        <dl class="usable">
                            <dt>我的账户可用</dt>
                            <dd>资金(元)：
                                <span th:if="${session.user eq null}">
	            	<!-- 判断用户是否登录：未登录，显示登录连接 -->
	            	<span style="font-size:18px;color:#ff6161;vertical-align:bottom;"><a href="javascript:void(0);"
                                                                                         class="btn-login">请登录</a></span>
                </span>
                                <span th:if="${session.user ne null}">
	            	<!-- 判断用户是否登录：已登录，显示可用余额 -->
	           		<span style="font-size:18px;color:#ff6161;vertical-align:bottom;"
                          th:text="|${#numbers.formatCurrency(financeAccount.availableMoney)}元|">1,000,12 元</span>
                </span>

                            </dd>
                        </dl>
                        <div class="expect-box">
                            <div class="expect-money">预计本息收入(元)：<span id="shouyi" class="money">--</span><span
                                    class="prompt" style="display:block;">请在下方输入投资金额</span></div>
                            <input type="text" id="bidMoney" name="bidMoney" onblur="checkMoney();"
                                   placeholder="请输入投资金额，应为100元的整倍数" maxlength="9"/>
                            <div class="max-invest-money"></div>
                        </div>
                        <div class="invest-btn">
                            <a id="investNow" href="javascript:void(0)" class="btn-1" onclick="invest();">立即投资</a>
                        </div>
                        <div th:if="${session.user ne null}">
                            <input type="hidden" id="realName" th:value="${session.user.name}" />
                        </div>
                        <input type="hidden" id="user" th:value="${session.user}"/>
                        <input type="hidden" id="uid" th:value="${session.user.id}"/>
                        <input type="hidden" id="availableMoney" th:value="${financeAccount.availableMoney}"/>

                    </div>
                </div>
            </div>
            <!--页面右侧end-->
        </div>
    </div>
    <!--页中end-->

</div>
<!--散标投资 end-->

<!--遮罩层-->
<div class="dialog-overlay" id="dialog-overlay1" style="display:none;"></div>

<!--投资成功浮层start-->
<div class="layer-body failureSuccess failurePayment" id="failurePayment"
     style="display:none;width:500px;height:100px;top:75%;">
    <a class="layer-close" href="javascript:closeit();"></a>
    <div style="background:#f2f2f2; line-height:105px;text-align:center;"><font style="font-size:25px;">投资成功</font>
    </div>
</div>
<!--投资成功浮层end-->

<!--页脚start-->
<!--<jsp:include page="commons/footer.jsp"/>-->
<div th:include="commons/footer :: html"></div>

<!--页脚end-->

<script type="text/javascript" th:inline="javascript">
    function closeit() {
        $("#failurePayment").hide();
        $("#dialog-overlay1").hide();
        window.location.href = contextPath+"/loan/myCenter";
    }

    function checkMoney() {
        var bidMoney = $("#bidMoney").val();
        var productType = [[${loanInfo.productType}]];
        var cycle = [[${loanInfo.cycle}]];
        var rate = [[${loanInfo.rate}]];


        if ("" == bidMoney) {
            $(".max-invest-money").html("请输入投资金额");
            return false;
        } else if (isNaN(bidMoney)) {
            $(".max-invest-money").html("投资金额必须是数字");
            return false;
        } else if (bidMoney <= 0) {
            $(".max-invest-money").html("投资金额必须大于0");
            return false;
        } else if (bidMoney % 100 != 0) {
            $(".max-invest-money").html("投资金额必须为100的正数倍");
            return false;
        } else {
            $(".max-invest-money").html("");
            //年化收益金额=投资金额*年化利率
            //收益金额 = 投资金额 * 日利率 * 投资天数
            var incomeMoney = "";
            if (0 == productType) {
                //新手宝
                incomeMoney = bidMoney * (rate / 100 / 365) * cycle;
            }else {
                //散标或优选
                incomeMoney = bidMoney * (rate / 100 / 365) * cycle*30;
            }
            incomeMoney=Math.round(Math.pow(10,2)*incomeMoney)/Math.pow(10,2);
            $("#shouyi").html(incomeMoney);
        }
        return true;
    }

    function invest() {
        var bidMoney=$("#bidMoney").val();
        var user=$("#user").val();
        var localPageUrl=$("#localPageUrl").val();
        var realName=$("#realName").val();
        var bidMinLimit=[[${loanInfo.bidMinLimit}]];
        var bidMaxLimit=[[${loanInfo.bidMaxLimit}]];
        var leftProductMoney=[[${loanInfo.leftProductMoney}]];
        var availableMoney=$("#availableMoney").val();
        var loanId=[[${loanInfo.id}]];
        var uid=$("#uid").val();
        
        if (checkMoney()) {
            if ("" == user) {
                window.location.href=contextPath+"/loan/page/login?localPageUrl="+localPageUrl;
            }else if ("" == realName) {
                window.location.href=contextPath+"/loan/page/realName";
            }else if (parseFloat(bidMoney) < parseFloat(bidMinLimit)){
                $(".max-invest-money").html("投资金额不得低于"+bidMinLimit+"元");
            }else if (parseFloat(bidMoney) > parseFloat(bidMaxLimit)) {
                $(".max-invest-money").html("投资金额不得高于"+bidMaxLimit+"元");
            }else if (parseFloat(bidMoney) > parseFloat(leftProductMoney)) {
                $(".max-invest-money").html("投资金额不得高于剩余可投余额");
            }else if (parseFloat(bidMoney) > parseFloat(availableMoney)){
                $(".max-invest-money").html("账户余额不足，请充值");
            }else {
                $.ajax({
                    url:contextPath+"/loan/invest",
                    type:"post",
                    data:{
                        loanId:loanId,
                        bidMoney:bidMoney,
                        uid:uid
                    },
                    success:function (data) {
                        if (data.code == 1) {
                            $("#failurePayment").show();
                            $("#dialog-overlay1").show();
                        }else {
                            $(".max-invest-money").html(data.message);
                        }
                    },
                    error:function () {
                        $(".max-invest-money").html("投资异常");
                    }
                });

            }
        }
    }
</script>
</body>
</html>